@import 'variables';

.SelectionView {
  .prompt {
    color: $whiteColor;
    text-align: center;
  }

  .options {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
