@import 'variables';
@import 'mixins';

.CombatFooter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;

  .message {
    color: $whiteColor;
    padding: 1rem 0;
    outline: 2px $whiteColor;
  }

  @include below-screen-sm {
    .message {
      background-color: $neutralColor;
      border-radius: 4px;
      color: $whiteColor;
      margin-top: 1rem;
      padding: 2rem;
    }
  }
}
