@import 'variables';

.CombatView {
  .duelingCharacters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .player {
    outline: thick $heroColor;
  }

  // Transition to quick to see outline appear
  // TODO: Allow for deselects and a CONFIRM button in footer
  // .enemy {
  //   outline: thick $villainColor;
  // }
}
