@import 'variables';

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Header {
  align-items: center;
  background-color: #222;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: $minHeaderHeight;
  padding: 0.5rem 1rem 0.5rem 0.5rem;

  .logo {
    animation: logo-spin infinite 15s linear;
    height: 80px;
  }

  .text {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 2rem;
      margin: 0 0 0.5rem 0;
    }

    .subtitle {
      flex: 1 100%;
      font-size: 1rem;
      text-align: center;
    }
  }
}
