@import '../../styles/global.scss';
@import 'variables';

.App {
  background-image: url('../../images/wallpaper.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto $minBodyHeight;
  min-height: $minBodyHeight;

  .content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 25vh;
    justify-content: space-around;
    margin: 1.5rem;
  }

  .characterCard {
    background-color: #483C2C;
    border-radius: 4px;
    border: 2px solid $blackColor;
    margin: 1rem;
    padding: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}
