@import '../../styles/global.scss';
@import 'variables';

.App {
  background-image: url('images/wallpaper.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    min-height: $bodyHeight;
  }
}
